{% extends 'blog/base_blog.html' %}
{% block title %} Create a new blog post{% endblock title %} Create a new blog post
{% block content %}

{% if user.is_authenticated %}
    <h1> Add blog Post </h1>
    <br/><br/>

    <div class="mb-3">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media}}
            {{ form.as_p}}
            
            
            {% if user.profile.id %}
                <button class="btn btn-success">Post</button>
            {% else %}
                <a href='{% url 'create_profile_page' %}'> Please create a user profile first</a>
            {% endif %}
    </div>

    <script>
    var name = "{{ user.id }}";
    document.getElementById("author").value = name;
    </script>


{% else %}
You are not allowed here!
{% endif %}

{% endblock content %}