{% extends 'blog/base_blog.html' %}
{% block title %} Blog Cathegories {% endblock title %} 
{% block content %}

    <h1> Blog Categories </h1>
    
    <ul>
        {% for item in cat_menu_list %}
            <li>
                <h4><a class="dropdown-item" href="{% url 'category' item|slugify %}">
                {{ item }}
                </a></h4>
            </li>
        {% endfor %}
    </ul>


    <a href="{% url 'home_blog' %}" class="btn btn-secondary">Back</a>

{% endblock content %}