{% extends 'base.html' %}
{% comment %} {% extends 'blog/base_blog.html' %} {% endcomment %}
{% load static %}
{% block title %} Delete blog post{% endblock title %}
{% block meta_description %} This is the blog of Dr.Dentis.{% endblock meta_description %} 
{% block content %}


        <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12">
            <h2 class="title">Delete blog post</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="breadcumb--con">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home_blog' %}">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">Delete blog post: {{ post.title}}</li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->


    <section class="dento-blog-area mt-50">
    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-10">

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        
        <br/><br/>
        <h3> Delete: {{ post.title }} </h3>
        <br/>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                <strong> Are you sure you want to delete the post?!</strong> 
                <br/><br/><br/>
                <button class="btn btn-success">Delete Post</button>
        </div>
        
    {% else %}
    You are not allowed here!
    {% endif %}
{% else %}

You are not allowed here! 

{% endif %}

        </div>
        </div>
    </div>
    </section

{% endblock content %}