{% extends 'base.html' %}
{% comment %} {% extends 'blog/base_blog.html' %} {% endcomment %}
{% load static %}
{% block title %} Login{% endblock title %} 
{% block meta_description %} This is the blog of Dr.Dentis.{% endblock meta_description %}
{% block content %}


        <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
        <div class="col-12">
            <h2 class="title">Login</h2>
        </div>
        </div>
    </div>
    </div>
    <div class="breadcumb--con">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{% url 'home_blog' %}">Blog</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->

<section class="dento--blog-area mt-50">
    <div class="container">
        <div class="row">
        <div class="col-12 col-lg-8 mb-100">
<br/><br/>

<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <!--{{ form.as_p}}-->
        <div class="mb-3">
            <label for="exampleInputUserame1" class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" id="exampleInputUsername" aria-describedby="userHelp">
            <div id="userHelp" class="form-text">We'll never share your credentials with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <br/>
        <button class="btn btn-success">Login</button>
    </form>
</div>
<br/><br/>
Not registered? <a href="{% url 'register' %}"> Sign Up here</a>
<br/><br/>

      </div>
        </div>
    </div>
</section>

{% endblock content %}