{% extends 'blog/base_blog.html' %}
{% block title %} Edit Profile{% endblock title %} 
{% block content %}

{% if user.is_authenticated %}
    {% if user.id == profile.user.id %}
        <h1> Edit Profile Page </h1>
        <br/><br/>
        
        <div class="mb-3">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p}}
                <button class="btn btn-success">Update Profile Page</button>
        </div>
    {% else %}
        You are not allowed here!
    {% endif %}


{% else %}
You are not allowed here!
{% endif %}

{% endblock content %}