{% extends 'blog/base_blog.html' %}
{% block title %} Login{% endblock title %} 
{% block content %}

<h1> Login </h1>
<br/><br/>

<div class="mb-3">
    <form method="POST">
        {% csrf_token %}
        <!--{{ form.as_p}}-->
        <div class="mb-3">
            <label for="exampleInputUserame1" class="form-label">User Name</label>
            <input type="text" class="form-control" name="username" id="exampleInputUsername" aria-describedby="userHelp">
            <div id="userHelp" class="form-text">We'll never share your credentials with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <br/>
        <button class="btn btn-success">Login</button>
    </form>
</div>
<br/><br/>
Not registered? <a href="{% url 'register' %}"> Sign Up here</a>

{% endblock content %}