{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content=" {% block meta_description %}Welcome to b-wisedental{% endblock meta_description %} ">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>{% block title %}b-wisedental{% endblock title %}</title>

  <!-- Favicon -->
  <link rel="icon" href="{% static 'website/img/core-img/favicon.ico' %}">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" href="{% static 'website/css/style.css' %}">

</head>

<body>
  <!-- Preloader -->
  <div id="preloader">
    <div class="preload-content">
      <div id="dento-load"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <!-- Top Content -->
          <div class="col-6 col-md-9 col-lg-8">
            <div class="top-header-content">
              <a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="bottom" title="str. Georges Clemenceau nr. 4,  Cluj-Napoca, 400021"><i class="fa fa-map-marker"></i> <span>str. Georges Clemenceau nr. 4,  Cluj-Napoca, 400021</span></a>
              <a href="{% url 'contact' %}" data-toggle="tooltip" data-placement="bottom" title="bwise.dental@gmail.com"><i class="fa fa-envelope"></i> <span>bwise.dental@gmail.com</span></a>
            </div>
          </div>
          <!-- Top Header Social Info -->
          <div class="col-6 col-md-3 col-lg-4">
            <div class="top-header-social-info text-right">
              {% if user.is_authenticated %}
                <a href="{% url 'add_post' %}" data-toggle="tooltip" data-placement="bottom" title="Add Post"><i class="fa fa-plus "></i></a>
                <a href="{% url 'add_category' %}" data-toggle="tooltip" data-placement="bottom" title="Add Category"><i class="fa fa-plus-square-o "></i></a>
                <a href="{% url 'edit_profile' %}" data-toggle="tooltip" data-placement="bottom" title="Edit Settings"><i class="fa fa-cog "></i></a>
                  {% if user.profile.id %}
                    <a href="{% url 'edit_profile_page' user.profile.id %}" data-toggle="tooltip" data-placement="bottom" title="Edit Profile"><i class="fa fa-user-plus "></i></a>
                    <a href="{% url 'show_profile_page' user.profile.id %}" data-toggle="tooltip" data-placement="bottom" title="Show Profile"><i class="fa fa-user "></i></a>
                  {% else %}
                    <a href="{% url 'create_profile_page' %}" data-toggle="tooltip" data-placement="bottom" title="Create Profile"><i class="fa fa-user-plus "></i></a>
                  {% endif %}                
                <a href="{% url 'logout' %}" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fa fa-sign-out "> {{user.first_name}} {{user.last_name}}</i></a>
              {% else %}
                <a href="{% url 'register' %}" data-toggle="tooltip" data-placement="bottom" title="Register"><i class="fa fa-cog "></i></a>
                <a href="{% url 'login' %}" data-toggle="tooltip" data-placement="bottom" title="Login"><i class="fa fa-sign-in "></i></a>
              {% endif %}

              {% comment %} <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Top Header End -->

    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <div class="container">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="dentoNav">

            <!-- Logo -->
            <a class="nav-brand" href="{% url 'home' %}"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>

            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>

            <!-- Menu -->
            <div class="classy-menu">

              <!-- Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>

              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li><a href="{% url 'home' %}">Acasa</a></li> 
                  <li><a href="{% url 'about' %}">Despre</a></li>
                  <li><a href="{% url 'service' %}">Servicii</a></li>
                  <li><a href="{% url 'pricing' %}">Tarife</a></li>
                  <li><a href="{% url 'home_blog' %}"> Blog</a></li>
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
              </div>
              <!-- Nav End -->
            </div>

            <!-- Booking Now Button -->
            <a href="{% url 'home' %}#Read-More" class="btn dento-btn booking-btn">Programeaza-te</a>
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


{% block content %}



{% endblock content %}


  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/3.jpg' %} );">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-footer-widget">
            <a href="#" class="d-block mb-4"><img src="{% static 'website/img/core-img/logo.png' %}" alt=""></a>
            <p>Nu ezitati sa ne contactati! </p>
            <div class="footer-contact">
              <p><i class="icon_pin"></i> str. Georges Clemenceau nr. 4, Cluj-Napoca</p>
              <p><i class="icon_phone"></i> +40 741-040118</p>
              <p><i class="icon_phone"></i> +40 745-638828</p>
              <p><i class="icon_phone"></i> +40 727-095604</p>
              <p><i class="icon_phone"></i> +40 264-440787</p>
              <p><i class="icon_mail"></i> bwise.dental@gmail.com</p>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Program</h5>

            <!-- Opening Hours -->
            <ul class="opening-hours">
              <li><span>Luni-Vineri</span> <span>8.00-20.00</span></li>
              <li><span>Sambata-Duminica</span> <span>Inchis</span></li>
              <li><span>Sarbatori</span> <span>Inchis</span></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Quick Link</h5>

            <!-- Quick Links Nav -->
            <nav>
              <ul class="quick-links">
                <li><a href="{% url 'about' %}">Despre</a></li>
                {% comment %} <li><a href="#">FAQs</a></li> {% endcomment %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% comment %} <li><a href="#">Policy</a></li> {% endcomment %}
                {% comment %} <li><a href="#">News</a></li> {% endcomment %}
                {% comment %} <li><a href="#">Advisors</a></li> {% endcomment %}
                {% comment %} <li><a href="#">Careers</a></li> {% endcomment %}
                <li><a href="{% url 'about' %}">Dentisti</a></li>
                <li><a href="{% url 'service' %}">Servicii</a></li>
                {% comment %} <li><a href="#">Legals</a></li> {% endcomment %}
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg">
          <div class="single-footer-widget">
            <!-- Widget Title -->
            <h5 class="widget-title">Newsletter</h5>

            <p>Iti von trimite ultimele articole publicate si niste oferte speciale!</p>
            <!-- Newsletter Form -->
            <div class="footer-newsletter-form">
              <form action="{% url 'newsletter' %}" method="post" name="newsletter">
                {% csrf_token %}
                <input type="email" name="nl-email" value="" placeholder="Email Address" >
                <button type="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </form>
            </div>

            <!-- Social Info -->
            {% comment %} <div class="footer-social-info">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Google Plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
            </div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <!-- Copywrite Area -->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="copywrite-content">
            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib --- Downloaded from <a href="https://themeslab.org/" target="_blank">Themeslab</a></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->

  <!-- ******* All JS ******* -->
  <!-- jQuery js -->
  <script src="{% static 'website/js/jquery.min.js' %}"></script>
  <!-- Popper js -->
  <script src="{% static 'website/js/popper.min.js' %}"></script>
  <!-- Bootstrap js -->
  <script src="{% static 'website/js/bootstrap.min.js' %}"></script>
  <!-- All js -->
  <script src="{% static 'website/js/dento.bundle.js' %}"></script>
  <!-- Active js -->
  <script src="{% static 'website/js/default-assets/active.js' %}"></script>

</body>

</html>