{% extends 'base.html' %}
{% load static %}
{% block title %}Tarife pentru b-wisedental{% endblock title %}
{% block meta_description %}Gasiti aici costurile serviciilor oferite de b-wisedental{% endblock meta_description %}
{% block content %}

  <!-- ***** Breadcrumb Area Start ***** --> 
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Tarife</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Acasa</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tarife</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Dento Pricing Table Area Start ***** -->
  <section class="dento-pricing-table-area mt-50 section-padding-0-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="dento-price-table table-responsive">
            <table class="table table-borderless mb-0">
              <thead>
                <tr>
                  <th scope="col">Nume Serviciu</th>
                  <th scope="col">Etapa</th>
                  <th scope="col">Pret</th>
                </tr>
              </thead>
              <tbody>
                {% if services %}
                  {% for service in services %}
                    <tr>
                      <th scope="row"> {{service.name}} </th>
                      <td> {{service.stage}} </td>
                      <td> {{service.currency}} {{service.price}} </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <th scope="row">There is no service at the moment</th>
                    <td>No times</td>
                    <td>$ No Price</td>
                  </tr>
                {% endif %}
                
              </tbody>
            </table>
          </div>
        </div>

        {% comment %} <div class="col-12">
          <div class="more-btn text-center mt-50">
            <a href="#" class="btn dento-btn">Read More <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div> {% endcomment %}
      </div>
    </div>
  </section>
  <!-- ***** Dento Pricing Table Area End ***** -->
{% endblock content %}