{% extends 'base.html' %}
{% load static %}
{% block title %}Servicii b-wisedental{% endblock title %}
{% block meta_description %} Gasiti toate serviciile oferite de b-wisedental.{% endblock meta_description %}
{% block content %}

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'website/img/bg-img/12.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Servicii</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="breadcumb--con">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="fa fa-home"></i> Acasa</a></li>
              <li class="breadcrumb-item active" aria-current="page">Servicii</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Services Area Start ***** -->
  <section class="dento-services-area mt-50 mb-50">
    <div class="container">
      <div class="row">

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Consultaṭie</h5>
            <p>Consultaṭia reprezintă primul ṣi cel mai impotant pas în comunicarea dintre 
            medic ṣi pacient. Această etapă presupune o discuṭie amănunṭită ṣi evaluarea 
            statusului dentar al pacientului. Este foarte importantă cunoaṣterea de către medic 
            a istoricului medical al pacientului în vederea stabilirii unui plan terapeutic 
            individualizat.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s7.png' %}" alt="">
            </div>
            <h5>Profilaxie</h5>
            <p>Când vorbim despre profilaxie dentară, ne referim la prevenirea îmbolnăvirilor 
            dentare, dar ṣi a complicaṭiilor în cazul unor afecṭiuni deja existente. 
            Controalele stomatologice regulate sunt obligatorii pentru menṭinerea sănătăṭii 
            dentare, numeroase studii arătând o strânsă legătură între sănătatea orală ṣi 
            generală.</p>
            <p>Cabinetul nostru vă oferă următoarele tipuri de tratamente profilactice: 
            Tehnici de periaj, Folosirea aṭei dentare ṣi a periuṭelor interdentare,
            Sigilarea ṣanṭurilor ṣi fosetelor, Detartrajul cu ultrasunete ṣi Airflow,
            Periaj profesional, Fluorizări</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s8.png' %}" alt="">
            </div>
            <h5>Odontologie</h5>
            <p>Tratamentul cariilor presupune îndepărtarea în totalitate a dentine ramolite 
            ( procesul carios propriu-zis) ṣi reconstituirea lipsei de substanṭă dentară 
            ( plomba). Această reconstituire finală a dintelui are un  rol atât estetic cât 
            ṣi funcṭional, în procesul de masticaṭie. Cabinetul nostru dispune de o gamă largă 
            de materiale moderne de restaurare pentru a satisface cerinṭele pacienṭilor.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Pedodonṭie</h5>
            <p>Pedodonṭia este acea ramură a stomatologiei care se ocupă cu profilaxia ṣi 
            tratamentul dinṭilor copiilor. Prevenirea cariilor la copii este asigurată de 
            o igienă alimentară corespunzătoare, tehnici corecte de periaj, sigilări ṣi 
            fluorizări.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s10.png' %}" alt="">
            </div>
            <h5>Endodonṭie</h5>
            <p>Endodonṭia este o ramură a medicinei dentare care se ocupă cu prevenirea, 
            diagnosticul ṣi tratamentul afecṭiunilor pulpei dentare.</p>
            <p>Tratamentul endodontic presupune îndepărtarea pulpei dentare (nervului) în 
            cazul unei afecṭiuni ireversibile ṣi obturarea etanṣă a canalului radicular cu 
            materiale biocompatibile.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Protetică</h5>
            <p>Protezarea reprezintă tratamentul stomatologic prin care se înlocuiesc  sau 
            se acopera dinṭi existenṭi pe arcadele dentare cu  ajutorul coroanelor dentare. 
            Pentru menṭinerea unei sănătăṭi oro-dentare este indispensabilă înlocuirea dinṭilor 
            lipsă cu lucrări protetice adecvate.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s6.png' %}" alt="">
            </div>
            <h5>Estetică</h5>
            <p>Această disciplină se adresează tuturor pacienṭilor care îṣi doresc un zâmbet 
            frumos ṣi cât mai natural. Atenṭia noastră este îndreptată asupra redării 
            zâmbetului natural al pacientului, îmbunătăṭirii imagini ṣi încrederii de sine.</p>
            <p>Pacienṭii pot beneficia de următoarele soluṭii estetice: Albiri dentare, 
            Faṭete ceramice, Inlay-uri/ onlay-uri ceramic, Bijuterii dentare.</p>
          </div>
        </div>

        <!-- Single Service Area -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="single-service--area text-center mb-50">
            <div class="icon--">
              <img src="{% static 'website/img/core-img/s9.png' %}" alt="">
            </div>
            <h5>Chirurgie orală</h5>
            <p>Tehnicile chirurgicale sunt foarte importante, având un rol esenṭial în cazul 
            unor situaṭii care necesită tratament complex de reabilitare orală.  De cele mai 
            multe ori acestea se realizează înaintea aplicării unor lucrări protetice sau a 
            implantelor dentare.</p>
            <p>Indiferent dacă este vorba de o simplă extracṭie sau de o intervenṭie 
            chirurgicală, medicii noṣtri vă aṣteaptă într-un mediu plăcut ṣi de înalt 
            profesionalism.</p>
            <p>Printre tehnicile chirurgicale practicate în cabinetul nostru se numară:
            Extracṭii dentare, Odontectomii, Rezecṭii apicale, Regularizări ale crestelor alveolare,
            Chirurgie parodontală</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Services Area End ***** -->

  <!-- ***** Blog Area Start ***** -->
  <section class="dento-blog-area section-padding-100-0 clearfix">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">
            <h2>Ultimele Articole</h2>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Single Blog Item -->
        {% if posts %}
          {% for post in posts %}
            <div class="col-12 col-md-6 col-lg-4">
              <div class="single-blog-item mb-100">
                <a href="{% url 'article_detail' post.pk %}">
                  {% comment %} <img src="{% static 'website/img/bg-img/4.jpg' %}" alt=""> {% endcomment %}
                </a>
                <!-- Blog Content -->
                <div class="blog-content">
                  <a href="{% url 'article_detail' post.pk %}" class="post-title">{{ post.title}}</a>
                  <p>{{ post.snippet}}</p>
                  <div class="post-meta">
                    <a href="{% url 'update_post' post.pk %}"><i class="icon_clock_alt"></i>{{ post.post_date}}</a>
                    <a href="{% url 'update_post' post.pk %}"><i class="icon_chat_alt"></i> {{ post.comments.count}}</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        
        {% endif %}

      </div>
    </div>
  </section>
  <!-- ***** Blog Area End ***** -->
{% endblock content %}